<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ios_software_info</key>
	<dict>
		<key>kAppStoreVersion</key>
		<false/>
		<key>kZdywBrandID</key>
		<string>ss</string>
		<key>kZdywAlertDisplayName</key>
		<string>说说</string>
		<key>kZdywPhoneType</key>
		<string>iphone</string>
		<key>kZdywPublicKey</key>
		<string>9876543210!@#$%^</string>
		<key>kZdywAppleID</key>
		<string>845078110</string>
		<key>kZdywHttpServer</key>
		<string>http://access.guoling.com/zd</string>
		<key>kPaySource</key>
		<string>59</string>
		<key>kCustomerServicePhone</key>
		<string>400-6617-288</string>
		<key>kCustomerServiceQQ</key>
		<string>2263398703</string>
		<key>kInvite</key>
		<string>14</string>
		<key>kCustomerServiceTime</key>
		<string>8:00-23:00</string>
		<key>kMaxFeelCPhoneCount</key>
		<string>3</string>
		<key>kDialModelDirectFee</key>
		<string>0.1</string>
		<key>kDialModelCallBackFee</key>
		<string>0.15</string>
		<key>kZdywHasBagMonthOrYear</key>
		<false/>
		<key>kDialModelType</key>
		<integer>1</integer>
	</dict>
	<key>ios_server_hosts</key>
	<array>
		<string>http://agw.shuodh.com:2001</string>
		<string>http://agw1.shuodh.com:2002</string>
		<string>http://agw2.shuodh.com:2003</string>
		<string>http://agw3.shuodh.com:2004</string>
		<string>http://agw4.shuodh.com:2005</string>
		<string>http://access.guoling.com/zd</string>
	</array>
	<key>ios_color_info</key>
	<dict>
		<key>kNavigationBarBgColor</key>
		<string>1C1C1C</string>
		<key>kNavigationBarBackGroundColor</key>
		<string>FFFFFF</string>
		<key>kNavigationBarTitleFontColor</key>
		<string>FFFFFF</string>
		<key>kNavigationBarTitleFontSize</key>
		<dict>
			<key>name</key>
			<string>Arial-Bold</string>
			<key>size</key>
			<integer>22</integer>
		</dict>
		<key>kNavigationBarTitleHasShadow</key>
		<true/>
		<key>kNavigationBarTitleShadowColor</key>
		<string>000000</string>
		<key>kZdywFontColor</key>
		<string>0592D7</string>
		<key>kZdywMainSelectedFontColor</key>
		<string>FFFFFF</string>
		<key>kZdywMainNormalFontColor</key>
		<string>767676</string>
	</dict>
	<key>ios_function_call</key>
	<dict/>
</dict>
</plist>
